@import "reset.css";
@import "https://fonts.googleapis.com/css?family=Open+Sans&display=swap";
@font-face {
  font-family: "7TH"
  font-weight: bold;
  src: url(../fonts/7TH.TTf) format('truetype');
}

* {
  cursor: url("../img/cursor6.png"), auto;
}

body {
  overflow: hidden;
  background-color: black;
}

main {
  background-color: black;
  width: 100vw;
  height: 100vh;
  cursor: url("../img/cursor6.png"), auto;
}

.bar_14 {
  position: absolute;
  z-index: 2;
  margin-top: -42vh;
  margin-left: 36vw;
  width: 33vw;
}
.field_3 {
  position: absolute;
  z-index: 2;
  width: 12vw;
  margin-top: -98vh;
  margin-left: 57vw;
}
.icon_12 {
  position: absolute;
  z-index: 2;
  margin-top: -37vh;
  margin-left: 1vw;
  width: 3vw
}
.pull_1 {
  position: absolute;
  z-index: 2;
  margin-top: -98vh;
  margin-left: 50vw;
  width: 4vw;
}
.pull_2 {
  position: absolute;
  z-index: 2;
  margin-top: -100vh;
  margin-left: 46vw;
  width: 12vw;
}
.pull_3 {
  position: absolute;
  z-index: 2;
  margin-top: -94vh;
  margin-left: 46vw;
  width: 3vw;
}
.pull_4 {
  position: absolute;
  z-index: 2;
  margin-top: -80vh;
  margin-left: 47vw;
  width: 1vw;
}
.pull_5 {
  position: absolute;
  z-index: 2;
  margin-top: -82vh;
  margin-left: 47vw;
  width: 1vw;
}
.pull_6 {
  position: absolute;
  z-index: 2;
  margin-top: -84vh;
  margin-left: 47vw;
  width: 1vw;
}
.pull_7 {
  position: absolute;
  z-index: 2;
  margin-top: -86vh;
  margin-left: 47vw;
  width: 1vw;
  animation: blink 1s infinite;
}
.tool_1 {
  position: absolute;
  z-index: 2;
  margin-top: -40vh;
  margin-left: 44vw;
  width: 5vw;
}
.tool_2 {
  position: absolute;
  z-index: 2;
  margin-top: -40vh;
  margin-left: 50vw;
  width: 6vw;
}
.tool_3 {
  position: absolute;
  z-index: 2;
  margin-top: -40vh;
  margin-left: 57vw;
  width: 5vw;
}
.tool_4 {
  position: absolute;
  z-index: 2;
  margin-top: -40vh;
  margin-left: 63vw;
  width: 5vw;
}
.rect_1 {
  position: absolute;
  z-index: 2;
  margin-top: -75vh;
  margin-left: 67vw;
  width: 2vw;
}
.rect_2 {
  position: absolute;
  z-index: 2;
  margin-top: -63vh;
  margin-left: 64vw;
  width: 2vw;
}
.rect_3 {
  position: absolute;
  z-index: 2;
  margin-top: -57vh;
  margin-left: 61vw;
  width: 2vw;
}
.blocks_11 {
  position: absolute;
  z-index: 2;
  margin-top: -68vh;
  margin-left: 0vw;
  width: 1vw;
}
.circle_13 {
  position: fixed;
  z-index: 0;
  bottom: 0;
  left: 50%;
  width: 68vw;
}
.field_78 {
  position: absolute;
  z-index: 2;
  margin-top: -100vh;
  margin-left: 0vw;
  width: 19vw;
}
.run_18 {
  position: absolute;
  z-index: 1;
  margin-top: -39vh;
  margin-left: -2vw;
  width: 3vw;
  animation: runner 10s linear infinite;
}
.run_181 {
  position: absolute;
  z-index: 1;
  margin-top: -99vh;
  margin-left: 19vw;
  width: 3vw;
  animation: runner 12s linear infinite;
}
.run_182 {
  position: absolute;
  z-index: 1;
  margin-top: -73vh;
  margin-left: 42vw;
  width: 3vw;
  animation: runner 11s linear infinite;
}
.run_183 {
  position: absolute;
  z-index: 1;
  margin-top: -32vh;
  margin-left: 66vw;
  width: 3vw;
  animation: runner 9s linear infinite;
}
.run_184 {
  position: absolute;
  z-index: 1;
  margin-top: -53vh;
  margin-left: 15vw;
  width: 3vw;
  animation: runner 12s linear infinite;
}
.run_185 {
  position: absolute;
  z-index: 1;
  margin-top: -62vh;
  margin-left: 1vw;
  width: 3vw;
  animation: runner 11s linear infinite;
}
.run_186 {
  position: absolute;
  z-index: 1;
  margin-top: -25vh;
  margin-left: 34vw;
  width: 3vw;
  animation: runner 10s linear infinite;
}
.run_187 {
  position: absolute;
  z-index: 1;
  width: 3vw;
  margin-top: -95vh;
  margin-left: 44vw;
  animation: runner 12s linear infinite;
}
.run_188 {
  position: absolute;
  z-index: 1;
  margin-top: -81vh;
  margin-left: 18vw;
  width: 3vw;
  animation: runner 9s linear infinite;
}
.run_189 {
  position: absolute;
  z-index: 1;
  margin-top: -57vh;
  margin-left: 56vw;
  width: 3vw;
  animation: runner 10s linear infinite;
}
p{
  color: white;
  font-size: 2vw;
  position: absolute;
  top: 25px;
  font-family: "PT Mono";
  text-transform: uppercase;
  left: 3125px;
}
.disc {
  color: #00E3FF;
  font-size: 75px;
  position: absolute;
  top: 408px;
  font-family: "PT Mono";
  left: 58px;
  z-index: 2;
}
.text {
  color: white;
  font-size: 30px;
  position: absolute;
  z-index: 2;
  top: 130px;
  font-family: "PT Mono";
  text-transform: uppercase;
  left: 58px;
}
/* @keyframes runner {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(5000px);
  }
  0% {
    opacity: 100%;
  }
  15% {
    opacity: 10%;
  }
  30% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
} */
@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@media (min-width: 320px) {
  .bar_14 {
    position: absolute;
    z-index: 2;
    margin-top: 233px;
    margin-left: 84px;
    width: 130vw;
}
  .field_3 {
    position: absolute;
    z-index: 2;
    width: 52vw;
    margin-top: -564px;
    margin-left: 338px;
}
  .icon_12 {
    position: absolute;
    z-index: 2;
    margin-top: 276px;
    margin-left: 11px;
    width: 13vw;
  }
  .pull_1 {
    position: absolute;
    z-index: 2;
    margin-top: -98vh;
    margin-left: 268px;
    width: 64px;
  }
  .pull_2 {
    position: absolute;
    z-index: 2;
    margin-top: -100vh;
    margin-left: 197px;
    width: 205px;
  }
  .pull_3 {
    position: absolute;
    z-index: 2;
    margin-top: -483px;
    margin-left: 340px;
    width: 32px;
  }
  .pull_4 {
    position: absolute;
    z-index: 2;
    margin-top: -400px;
    margin-left: 349px;
    width: 14px;
  }
  .pull_5 {
    position: absolute;
    z-index: 2;
    margin-top: -415px;
    margin-left: 349px;
    width: 14px;
  }
  .pull_6 {
    position: absolute;
    z-index: 2;
    margin-top: -430px;
    margin-left: 349px;
    width: 14px;
  }
  .pull_7 {
    position: absolute;
    z-index: 2;
    margin-top: -445px;
    margin-left: 349px;
    width: 14px;
    animation: blink 1s infinite;
  }
  .tool_1 {
    position: absolute;
    z-index: 2;
    margin-top: 248px;
    margin-left: 190px;
    width: 69px;
  }
  .tool_2 {
    position: absolute;
    z-index: 2;
    margin-top: 249px;
    margin-left: 261px;
    width: 78px;
  }
  .tool_3 {
    position: absolute;
    z-index: 2;
    margin-top: 249px;
    margin-left: 342px;
    width: 67px;
  }
  .tool_4 {
    position: absolute;
    z-index: 2;
    margin-top: 245px;
    margin-left: 420px;
    width: 69px;
  }
  .rect_1 {
    position: absolute;
    z-index: 2;
    margin-top: -27px;
    margin-left: 471px;
    width: 9vw;
  }
  .rect_2 {
    position: absolute;
    z-index: 2;
    margin-top: 69px;
    margin-left: 431px;
    width: 9vw;
  }
  .rect_3 {
    position: absolute;
    z-index: 2;
    margin-top: 113px;
    margin-left: 391px;
    width: 9vw;
  }
  .blocks_11 {
    position: absolute;
    z-index: 2;
    margin-top: -221px;
    margin-left: 0vw;
    width: 5vw;
  }
  .circle_13 {
    position: fixed;
    z-index: 0;
    bottom: 114px;
    left: -51px;
    width: 189vw;
  }
  .field_78 {
    position: absolute;
    z-index: 2;
    margin-top: -564px;
    margin-left: 7px;
    width: 79vw;
  }
  .run_18 {
    position: absolute;
    z-index: 1;
    margin-top: 23vh;
    margin-left: 1vw;
    width: 10vw;
    animation: runner 10s linear infinite;
  }
  .run_181 {
    position: absolute;
    z-index: 1;
    margin-top: -1vh;
    margin-left: 98vw;
    width: 10vw;
    animation: runner 12s linear infinite;
  }
  .run_182 {
    position: absolute;
    z-index: 1;
    margin-top: 11vh;
    margin-left: 42vw;
    width: 10vw;
    animation: runner 11s linear infinite;
  }
  .run_183 {
    position: absolute;
    z-index: 1;
    margin-top: -15vh;
    margin-left: 1vw;
    width: 10vw;
    animation: runner 9s linear infinite;
  }
  .run_184 {
    position: absolute;
    z-index: 1;
    margin-top: -41vh;
    margin-left: 95vw;
    width: 10vw;
    animation: runner 12s linear infinite;
  }
  .run_185 {
    position: absolute;
    z-index: 1;
    margin-top: -53vh;
    margin-left: 10vw;
    width: 10vw;
    animation: runner 11s linear infinite;
  }
  .run_186 {
    position: absolute;
    z-index: 1;
    margin-top: -25vh;
    margin-left: 34vw;
    width: 10vw;
    animation: runner 10s linear infinite;
  }
  .run_187 {
    position: absolute;
    z-index: 1;
    width: 10vw;
    margin-top: -97vh;
    margin-left: 44vw;
    animation: runner 12s linear infinite;
  }
  .run_188 {
    position: absolute;
    z-index: 1;
    margin-top: -81vh;
    margin-left: 123vw;
    width: 10vw;
    animation: runner 9s linear infinite;
  }
  .run_189 {
    position: absolute;
    z-index: 1;
    margin-top: 36vh;
    margin-left: 56vw;
    width: 10vw;
    animation: runner 10s linear infinite;
  }
  p{
    color: white;
    font-size: 2vw;
    position: absolute;
    top: 25px;
    font-family: "PT Mono";
    text-transform: uppercase;
    left: 3125px;
  }
  .disc {
    color: #00E3FF;
    font-size: 20px;
    position: absolute;
    top: 14px;
    font-family: "PT Mono";
    left: 23px;
    z-index: 2;
  }
  .text {
    color: white;
    font-size: 30px;
    position: absolute;
    z-index: 2;
    top: 130px;
    font-family: "PT Mono";
    text-transform: uppercase;
    left: 58px;
  }

}
@media (min-width: 375px) {
  .bar_14 {
    position: absolute;
    z-index: 2;
    margin-top: 223px;
    margin-left: 96px;
    width: 122vw;
}
  .field_3 {
    position: absolute;
    z-index: 2;
    width: 52vw;
    margin-top: -664px;
    margin-left: 373px;
}
  .icon_12 {
    position: absolute;
    z-index: 2;
    margin-top: 276px;
    margin-left: 12px;
    width: 14vw;
  }
  .pull_1 {
    position: absolute;
    z-index: 2;
    margin-top: -98vh;
    margin-left: 307px;
    width: 61px;
  }
  .pull_2 {
    position: absolute;
    z-index: 2;
    margin-top: -100vh;
    margin-left: 240px;
    width: 193px;
  }
  .pull_3 {
    position: absolute;
    z-index: 2;
    margin-top: -583px;
    margin-left: 376px;
    width: 34px;
  }
  .pull_4 {
    position: absolute;
    z-index: 2;
    margin-top: -493px;
    margin-left: 385px;
    width: 15px;
  }
  .pull_5 {
    position: absolute;
    z-index: 2;
    margin-top: -508px;
    margin-left: 385px;
    width: 15px;
  }
  .pull_6 {
    position: absolute;
    z-index: 2;
    margin-top: -523px;
    margin-left: 385px;
    width: 15px;
  }
  .pull_7 {
    position: absolute;
    z-index: 2;
    margin-top: -538px;
    margin-left: 385px;
    width: 15px;
    animation: blink 1s infinite;
  }
  .tool_1 {
    position: absolute;
    z-index: 2;
    margin-top: 243px;
    margin-left: 190px;
    width: 83px;
  }
  .tool_2 {
    position: absolute;
    z-index: 2;
    margin-top: 242px;
    margin-left: 273px;
    width: 98px;
  }
  .tool_3 {
    position: absolute;
    z-index: 2;
    margin-top: 243px;
    margin-left: 372px;
    width: 82px;
  }
  .tool_4 {
    position: absolute;
    z-index: 2;
    margin-top: 239px;
    margin-left: 460px;
    width: 85px;
  }
  .rect_1 {
    position: absolute;
    z-index: 2;
    margin-top: -87px;
    margin-left: 521px;
    width: 9vw;
  }
  .rect_2 {
    position: absolute;
    z-index: 2;
    margin-top: 25px;
    margin-left: 471px;
    width: 9vw;
  }
  .rect_3 {
    position: absolute;
    z-index: 2;
    margin-top: 79px;
    margin-left: 421px;
    width: 9vw;
  }
  .blocks_11 {
    position: absolute;
    z-index: 2;
    margin-top: -221px;
    margin-left: 0vw;
    width: 6vw;
  }
  .circle_13 {
    position: fixed;
    z-index: 0;
    bottom: 114px;
    left: -96px;
    width: 201vw;
  }
  .field_78 {
    position: absolute;
    z-index: 2;
    margin-top: -664px;
    margin-left: 5px;
    width: 79vw;
  }
  .run_18 {
    position: absolute;
    z-index: 1;
    margin-top: 23vh;
    margin-left: 1vw;
    width: 10vw;
    animation: runner 10s linear infinite;
  }
  .run_181 {
    position: absolute;
    z-index: 1;
    margin-top: -1vh;
    margin-left: 98vw;
    width: 10vw;
    animation: runner 12s linear infinite;
  }
  .run_182 {
    position: absolute;
    z-index: 1;
    margin-top: 11vh;
    margin-left: 42vw;
    width: 10vw;
    animation: runner 11s linear infinite;
  }
  .run_183 {
    position: absolute;
    z-index: 1;
    margin-top: -15vh;
    margin-left: 1vw;
    width: 10vw;
    animation: runner 9s linear infinite;
  }
  .run_184 {
    position: absolute;
    z-index: 1;
    margin-top: -41vh;
    margin-left: 95vw;
    width: 10vw;
    animation: runner 12s linear infinite;
  }
  .run_185 {
    position: absolute;
    z-index: 1;
    margin-top: -53vh;
    margin-left: 10vw;
    width: 10vw;
    animation: runner 11s linear infinite;
  }
  .run_186 {
    position: absolute;
    z-index: 1;
    margin-top: -25vh;
    margin-left: 34vw;
    width: 10vw;
    animation: runner 10s linear infinite;
  }
  .run_187 {
    position: absolute;
    z-index: 1;
    width: 10vw;
    margin-top: -97vh;
    margin-left: 44vw;
    animation: runner 12s linear infinite;
  }
  .run_188 {
    position: absolute;
    z-index: 1;
    margin-top: -81vh;
    margin-left: 123vw;
    width: 10vw;
    animation: runner 9s linear infinite;
  }
  .run_189 {
    position: absolute;
    z-index: 1;
    margin-top: 36vh;
    margin-left: 56vw;
    width: 10vw;
    animation: runner 10s linear infinite;
  }
  p{
    color: white;
    font-size: 2vw;
    position: absolute;
    top: 25px;
    font-family: "PT Mono";
    text-transform: uppercase;
    left: 3125px;
  }
  .disc {
    color: #00E3FF;
    font-size: 20px;
    position: absolute;
    top: 16px;
    font-family: "PT Mono";
    left: 18px;
    z-index: 2;
  }
  .text {
    color: white;
    font-size: 30px;
    position: absolute;
    z-index: 2;
    top: 130px;
    font-family: "PT Mono";
    text-transform: uppercase;
    left: 58px;
  }
}
@media (min-width: 375px) and (min-height: 812px) {
  .bar_14 {
    position: absolute;
    z-index: 2;
    margin-top: 283px;
    margin-left: 101px;
    width: 122vw;
}
  .field_3 {
    position: absolute;
    z-index: 2;
    width: 52vw;
    margin-top: -810px;
    margin-left: 373px;
}
  .icon_12 {
    position: absolute;
    z-index: 2;
    margin-top: 332px;
    margin-left: 12px;
    width: 15vw;
  }
  .pull_1 {
    position: absolute;
    z-index: 2;
    margin-top: -98vh;
    margin-left: 298px;
    width: 61px;
  }
  .pull_2 {
    position: absolute;
    z-index: 2;
    margin-top: -100vh;
    margin-left: 231px;
    width: 193px;
  }
  .pull_3 {
    position: absolute;
    z-index: 2;
    margin-top: -730px;
    margin-left: 376px;
    width: 34px;
  }
  .pull_4 {
    position: absolute;
    z-index: 2;
    margin-top: -641px;
    margin-left: 385px;
    width: 15px;
  }
  .pull_5 {
    position: absolute;
    z-index: 2;
    margin-top: -656px;
    margin-left: 385px;
    width: 15px;
  }
  .pull_6 {
    position: absolute;
    z-index: 2;
    margin-top: -671px;
    margin-left: 385px;
    width: 15px;
  }
  .pull_7 {
    position: absolute;
    z-index: 2;
    margin-top: -686px;
    margin-left: 385px;
    width: 15px;
    animation: blink 1s infinite;
  }
  .tool_1 {
    position: absolute;
    z-index: 2;
    margin-top: 303px;
    margin-left: 190px;
    width: 83px;
  }
  .tool_2 {
    position: absolute;
    z-index: 2;
    margin-top: 302px;
    margin-left: 273px;
    width: 98px;
  }
  .tool_3 {
    position: absolute;
    z-index: 2;
    margin-top: 303px;
    margin-left: 372px;
    width: 82px;
  }
  .tool_4 {
    position: absolute;
    z-index: 2;
    margin-top: 299px;
    margin-left: 460px;
    width: 85px;
  }
  .rect_1 {
    position: absolute;
    z-index: 2;
    margin-top: -37px;
    margin-left: 521px;
    width: 9vw;
  }
  .rect_2 {
    position: absolute;
    z-index: 2;
    margin-top: 75px;
    margin-left: 471px;
    width: 9vw;
  }
  .rect_3 {
    position: absolute;
    z-index: 2;
    margin-top: 129px;
    margin-left: 421px;
    width: 9vw;
  }
  .blocks_11 {
    position: absolute;
    z-index: 2;
    margin-top: -221px;
    margin-left: 0vw;
    width: 6vw;
  }
  .circle_13 {
    position: fixed;
    z-index: 0;
    bottom: 193px;
    left: -96px;
    width: 201vw;
  }
  .field_78 {
    position: absolute;
    z-index: 2;
    margin-top: -810px;
    margin-left: 3px;
    width: 75vw;
  }
  .run_18 {
    position: absolute;
    z-index: 1;
    margin-top: 23vh;
    margin-left: 1vw;
    width: 10vw;
    animation: runner 10s linear infinite;
  }
  .run_181 {
    position: absolute;
    z-index: 1;
    margin-top: -1vh;
    margin-left: 98vw;
    width: 10vw;
    animation: runner 12s linear infinite;
  }
  .run_182 {
    position: absolute;
    z-index: 1;
    margin-top: 11vh;
    margin-left: 42vw;
    width: 10vw;
    animation: runner 11s linear infinite;
  }
  .run_183 {
    position: absolute;
    z-index: 1;
    margin-top: -15vh;
    margin-left: 1vw;
    width: 10vw;
    animation: runner 9s linear infinite;
  }
  .run_184 {
    position: absolute;
    z-index: 1;
    margin-top: -41vh;
    margin-left: 95vw;
    width: 10vw;
    animation: runner 12s linear infinite;
  }
  .run_185 {
    position: absolute;
    z-index: 1;
    margin-top: -53vh;
    margin-left: 10vw;
    width: 10vw;
    animation: runner 11s linear infinite;
  }
  .run_186 {
    position: absolute;
    z-index: 1;
    margin-top: -25vh;
    margin-left: 34vw;
    width: 10vw;
    animation: runner 10s linear infinite;
  }
  .run_187 {
    position: absolute;
    z-index: 1;
    width: 10vw;
    margin-top: -97vh;
    margin-left: 44vw;
    animation: runner 12s linear infinite;
  }
  .run_188 {
    position: absolute;
    z-index: 1;
    margin-top: -81vh;
    margin-left: 123vw;
    width: 10vw;
    animation: runner 9s linear infinite;
  }
  .run_189 {
    position: absolute;
    z-index: 1;
    margin-top: 36vh;
    margin-left: 56vw;
    width: 10vw;
    animation: runner 10s linear infinite;
  }
  p{
    color: white;
    font-size: 2vw;
    position: absolute;
    top: 25px;
    font-family: "PT Mono";
    text-transform: uppercase;
    left: 3125px;
  }
  .disc {
    color: #00E3FF;
    font-size: 20px;
    position: absolute;
    top: 16px;
    font-family: "PT Mono";
    left: 18px;
    z-index: 2;
  }
  .text {
    color: white;
    font-size: 30px;
    position: absolute;
    z-index: 2;
    top: 130px;
    font-family: "PT Mono";
    text-transform: uppercase;
    left: 58px;
  }
}
@media (min-width: 414px){
  .bar_14 {
    position: absolute;
    z-index: 2;
    margin-top: 179px;
    margin-left: 89px;
    width: 117vw;
}
  .field_3 {
    position: absolute;
    z-index: 2;
    width: 49vw;
    margin-top: -734px;
    margin-left: 375px;
}
  .icon_12 {
    position: absolute;
    z-index: 2;
    margin-top: 221px;
    margin-left: 12px;
    width: 14vw;
  }
  .pull_1 {
    position: absolute;
    z-index: 2;
    margin-top: -98vh;
    margin-left: 303px;
    width: 61px;
  }
  .pull_2 {
    position: absolute;
    z-index: 2;
    margin-top: -100vh;
    margin-left: 236px;
    width: 193px;
  }
  .pull_3 {
    position: absolute;
    z-index: 2;
    margin-top: -656px;
    margin-left: 370px;
    width: 34px;
  }
  .pull_4 {
    position: absolute;
    z-index: 2;
    margin-top: -567px;
    margin-left: 380px;
    width: 15px;
  }
  .pull_5 {
    position: absolute;
    z-index: 2;
    margin-top: -582px;
    margin-left: 380px;
    width: 15px;
  }
  .pull_6 {
    position: absolute;
    z-index: 2;
    margin-top: -597px;
    margin-left: 380px;
    width: 15px;
  }
  .pull_7 {
    position: absolute;
    z-index: 2;
    margin-top: -612px;
    margin-left: 380px;
    width: 15px;
    animation: blink 1s infinite;
  }
  .tool_1 {
    position: absolute;
    z-index: 2;
    margin-top: 196px;
    margin-left: 200px;
    width: 83px;
  }
  .tool_2 {
    position: absolute;
    z-index: 2;
    margin-top: 196px;
    margin-left: 283px;
    width: 98px;
  }
  .tool_3 {
    position: absolute;
    z-index: 2;
    margin-top: 196px;
    margin-left: 381px;
    width: 83px;
  }
  .tool_4 {
    position: absolute;
    z-index: 2;
    margin-top: 193px;
    margin-left: 472px;
    width: 85px;
  }
  .rect_1 {
    position: absolute;
    z-index: 2;
    margin-top: -157px;
    margin-left: 530px;
    width: 9vw;
  }
  .rect_2 {
    position: absolute;
    z-index: 2;
    margin-top: -32px;
    margin-left: 481px;
    width: 9vw;
  }
  .rect_3 {
    position: absolute;
    z-index: 2;
    margin-top: 28px;
    margin-left: 431px;
    width: 9vw;
  }
  .blocks_11 {
    position: absolute;
    z-index: 2;
    margin-top: -221px;
    margin-left: 0vw;
    width: 6vw;
  }
  .circle_13 {
    position: fixed;
    z-index: 0;
    bottom: 101px;
    left: -76px;
    width: 175vw;
  }
  .field_78 {
    position: absolute;
    z-index: 2;
    margin-top: -734px;
    margin-left: 5px;
    width: 69vw;
  }
  .run_18 {
    position: absolute;
    z-index: 1;
    margin-top: 23vh;
    margin-left: 1vw;
    width: 10vw;
    animation: runner 10s linear infinite;
  }
  .run_181 {
    position: absolute;
    z-index: 1;
    margin-top: -1vh;
    margin-left: 98vw;
    width: 10vw;
    animation: runner 12s linear infinite;
  }
  .run_182 {
    position: absolute;
    z-index: 1;
    margin-top: 11vh;
    margin-left: 42vw;
    width: 10vw;
    animation: runner 11s linear infinite;
  }
  .run_183 {
    position: absolute;
    z-index: 1;
    margin-top: -15vh;
    margin-left: 1vw;
    width: 10vw;
    animation: runner 9s linear infinite;
  }
  .run_184 {
    position: absolute;
    z-index: 1;
    margin-top: -41vh;
    margin-left: 95vw;
    width: 10vw;
    animation: runner 12s linear infinite;
  }
  .run_185 {
    position: absolute;
    z-index: 1;
    margin-top: -53vh;
    margin-left: 10vw;
    width: 10vw;
    animation: runner 11s linear infinite;
  }
  .run_186 {
    position: absolute;
    z-index: 1;
    margin-top: -25vh;
    margin-left: 34vw;
    width: 10vw;
    animation: runner 10s linear infinite;
  }
  .run_187 {
    position: absolute;
    z-index: 1;
    width: 10vw;
    margin-top: -97vh;
    margin-left: 44vw;
    animation: runner 12s linear infinite;
  }
  .run_188 {
    position: absolute;
    z-index: 1;
    margin-top: -81vh;
    margin-left: 123vw;
    width: 10vw;
    animation: runner 9s linear infinite;
  }
  .run_189 {
    position: absolute;
    z-index: 1;
    margin-top: 36vh;
    margin-left: 56vw;
    width: 10vw;
    animation: runner 10s linear infinite;
  }
  p{
    color: white;
    font-size: 2vw;
    position: absolute;
    top: 25px;
    font-family: "PT Mono";
    text-transform: uppercase;
    left: 3125px;
  }
  .disc {
    color: #00E3FF;
    font-size: 20px;
    position: absolute;
    top: 16px;
    font-family: "PT Mono";
    left: 18px;
    z-index: 2;
  }
  .text {
    color: white;
    font-size: 30px;
    position: absolute;
    z-index: 2;
    top: 130px;
    font-family: "PT Mono";
    text-transform: uppercase;
    left: 58px;
  }
}
@media (min-width: 768px) {
  .bar_14 {
    position: absolute;
    z-index: 2;
    margin-top: 153px;
    margin-left: 270px;
    width: 97vw;
}
  .field_3 {
    position: absolute;
    z-index: 2;
    width: 41vw;
    margin-top: -1024px;
    margin-left: 702px;
}
  .icon_12 {
    position: absolute;
    z-index: 2;
    margin-top: 210px;
    margin-left: 5px;
    width: 12vw;
  }
  .pull_1 {
    position: absolute;
    z-index: 2;
    margin-top: -98vh;
    margin-left: 569px;
    width: 100px;
  }
  .pull_2 {
    position: absolute;
    z-index: 2;
    margin-top: -100vh;
    margin-left: 476px;
    width: 283px;
  }
  .pull_3 {
    position: absolute;
    z-index: 2;
    margin-top: -900px;
    margin-left: 680px;
    width: 54px;
  }
  .pull_4 {
    position: absolute;
    z-index: 2;
    margin-top: -757px;
    margin-left: 694px;
    width: 25px;
  }
  .pull_5 {
    position: absolute;
    z-index: 2;
    margin-top: -782px;
    margin-left: 694px;
    width: 25px;
  }
  .pull_6 {
    position: absolute;
    z-index: 2;
    margin-top: -807px;
    margin-left: 694px;
    width: 25px;
  }
  .pull_7 {
    position: absolute;
    z-index: 2;
    margin-top: -832px;
    margin-left: 694px;
    width: 25px;
    animation: blink 1s infinite;
  }
  .tool_1 {
    position: absolute;
    z-index: 2;
    margin-top: 182px;
    margin-left: 428px;
    width: 121px;
  }
  .tool_2 {
    position: absolute;
    z-index: 2;
    margin-top: 182px;
    margin-left: 566px;
    width: 138px;
  }
  .tool_3 {
    position: absolute;
    z-index: 2;
    margin-top: 181px;
    margin-left: 720px;
    width: 119px;
  }
  .tool_4 {
    position: absolute;
    z-index: 2;
    margin-top: 173px;
    margin-left: 869px;
    width: 125px;
  }
  .rect_1 {
    position: absolute;
    z-index: 2;
    margin-top: -277px;
    margin-left: 950px;
    width: 6vw;
  }
  .rect_2 {
    position: absolute;
    z-index: 2;
    margin-top: -127px;
    margin-left: 878px;
    width: 6vw;
  }
  .rect_3 {
    position: absolute;
    z-index: 2;
    margin-top: -57px;
    margin-left: 806px;
    width: 6vw;
  }
  .blocks_11 {
    position: absolute;
    z-index: 2;
    margin-top: -390px;
    margin-left: 0vw;
    width: 4vw;;
  }
  .circle_13 {
    position: fixed;
    z-index: 0;
    bottom: -689px;
    left: -156px;
    width: 175vw;
  }
  .field_78 {
    position: absolute;
    z-index: 2;
    margin-top: -1024px;
    margin-left: 3px;
    width: 67vw;
  }
  .run_18 {
    position: absolute;
    z-index: 1;
    margin-top: 23vh;
    margin-left: 1vw;
    width: 10vw;
    animation: runner 10s linear infinite;
  }
  .run_181 {
    position: absolute;
    z-index: 1;
    margin-top: -1vh;
    margin-left: 98vw;
    width: 10vw;
    animation: runner 12s linear infinite;
  }
  .run_182 {
    position: absolute;
    z-index: 1;
    margin-top: 11vh;
    margin-left: 42vw;
    width: 10vw;
    animation: runner 11s linear infinite;
  }
  .run_183 {
    position: absolute;
    z-index: 1;
    margin-top: -15vh;
    margin-left: 1vw;
    width: 10vw;
    animation: runner 9s linear infinite;
  }
  .run_184 {
    position: absolute;
    z-index: 1;
    margin-top: -41vh;
    margin-left: 95vw;
    width: 10vw;
    animation: runner 12s linear infinite;
  }
  .run_185 {
    position: absolute;
    z-index: 1;
    margin-top: -53vh;
    margin-left: 10vw;
    width: 10vw;
    animation: runner 11s linear infinite;
  }
  .run_186 {
    position: absolute;
    z-index: 1;
    margin-top: -25vh;
    margin-left: 34vw;
    width: 10vw;
    animation: runner 10s linear infinite;
  }
  .run_187 {
    position: absolute;
    z-index: 1;
    width: 10vw;
    margin-top: -97vh;
    margin-left: 44vw;
    animation: runner 12s linear infinite;
  }
  .run_188 {
    position: absolute;
    z-index: 1;
    margin-top: -81vh;
    margin-left: 123vw;
    width: 10vw;
    animation: runner 9s linear infinite;
  }
  .run_189 {
    position: absolute;
    z-index: 1;
    margin-top: 36vh;
    margin-left: 56vw;
    width: 10vw;
    animation: runner 10s linear infinite;
  }
  p{
    color: white;
    font-size: 2vw;
    position: absolute;
    top: 25px;
    font-family: "PT Mono";
    text-transform: uppercase;
    left: 3125px;
  }
  .disc {
    color: #00E3FF;
    font-size: 20px;
    position: absolute;
    top: 21px;
    font-family: "PT Mono";
    left: 31px;
    z-index: 2;
  }
  .text {
    color: white;
    font-size: 30px;
    position: absolute;
    z-index: 2;
    top: 130px;
    font-family: "PT Mono";
    text-transform: uppercase;
    left: 58px;
  }
}
@media (min-width: 1024px) {

}
@media (min-width: 1280px) {
  .bar_14 {
    position: absolute;
    z-index: 2;
    margin-top: 153px;
    margin-left: 270px;
    width: 97vw;
}
  .field_3 {
    position: absolute;
    z-index: 2;
    width: 41vw;
    margin-top: -1024px;
    margin-left: 702px;
}
  .icon_12 {
    position: absolute;
    z-index: 2;
    margin-top: 210px;
    margin-left: 5px;
    width: 12vw;
  }
  .pull_1 {
    position: absolute;
    z-index: 2;
    margin-top: -98vh;
    margin-left: 569px;
    width: 100px;
  }
  .pull_2 {
    position: absolute;
    z-index: 2;
    margin-top: -100vh;
    margin-left: 476px;
    width: 283px;
  }
  .pull_3 {
    position: absolute;
    z-index: 2;
    margin-top: -900px;
    margin-left: 680px;
    width: 54px;
  }
  .pull_4 {
    position: absolute;
    z-index: 2;
    margin-top: -757px;
    margin-left: 694px;
    width: 25px;
  }
  .pull_5 {
    position: absolute;
    z-index: 2;
    margin-top: -782px;
    margin-left: 694px;
    width: 25px;
  }
  .pull_6 {
    position: absolute;
    z-index: 2;
    margin-top: -807px;
    margin-left: 694px;
    width: 25px;
  }
  .pull_7 {
    position: absolute;
    z-index: 2;
    margin-top: -832px;
    margin-left: 694px;
    width: 25px;
    animation: blink 1s infinite;
  }
  .tool_1 {
    position: absolute;
    z-index: 2;
    margin-top: 182px;
    margin-left: 428px;
    width: 121px;
  }
  .tool_2 {
    position: absolute;
    z-index: 2;
    margin-top: 182px;
    margin-left: 566px;
    width: 138px;
  }
  .tool_3 {
    position: absolute;
    z-index: 2;
    margin-top: 181px;
    margin-left: 720px;
    width: 119px;
  }
  .tool_4 {
    position: absolute;
    z-index: 2;
    margin-top: 173px;
    margin-left: 869px;
    width: 125px;
  }
  .rect_1 {
    position: absolute;
    z-index: 2;
    margin-top: -277px;
    margin-left: 950px;
    width: 6vw;
  }
  .rect_2 {
    position: absolute;
    z-index: 2;
    margin-top: -127px;
    margin-left: 878px;
    width: 6vw;
  }
  .rect_3 {
    position: absolute;
    z-index: 2;
    margin-top: -57px;
    margin-left: 806px;
    width: 6vw;
  }
  .blocks_11 {
    position: absolute;
    z-index: 2;
    margin-top: -390px;
    margin-left: 0vw;
    width: 4vw;;
  }
  .circle_13 {
    position: fixed;
    z-index: 0;
    bottom: -689px;
    left: -156px;
    width: 175vw;
  }
  .field_78 {
    position: absolute;
    z-index: 2;
    margin-top: -1024px;
    margin-left: 3px;
    width: 67vw;
  }
  .run_18 {
    position: absolute;
    z-index: 1;
    margin-top: 23vh;
    margin-left: 1vw;
    width: 10vw;
    animation: runner 10s linear infinite;
  }
  .run_181 {
    position: absolute;
    z-index: 1;
    margin-top: -1vh;
    margin-left: 98vw;
    width: 10vw;
    animation: runner 12s linear infinite;
  }
  .run_182 {
    position: absolute;
    z-index: 1;
    margin-top: 11vh;
    margin-left: 42vw;
    width: 10vw;
    animation: runner 11s linear infinite;
  }
  .run_183 {
    position: absolute;
    z-index: 1;
    margin-top: -15vh;
    margin-left: 1vw;
    width: 10vw;
    animation: runner 9s linear infinite;
  }
  .run_184 {
    position: absolute;
    z-index: 1;
    margin-top: -41vh;
    margin-left: 95vw;
    width: 10vw;
    animation: runner 12s linear infinite;
  }
  .run_185 {
    position: absolute;
    z-index: 1;
    margin-top: -53vh;
    margin-left: 10vw;
    width: 10vw;
    animation: runner 11s linear infinite;
  }
  .run_186 {
    position: absolute;
    z-index: 1;
    margin-top: -25vh;
    margin-left: 34vw;
    width: 10vw;
    animation: runner 10s linear infinite;
  }
  .run_187 {
    position: absolute;
    z-index: 1;
    width: 10vw;
    margin-top: -97vh;
    margin-left: 44vw;
    animation: runner 12s linear infinite;
  }
  .run_188 {
    position: absolute;
    z-index: 1;
    margin-top: -81vh;
    margin-left: 123vw;
    width: 10vw;
    animation: runner 9s linear infinite;
  }
  .run_189 {
    position: absolute;
    z-index: 1;
    margin-top: 36vh;
    margin-left: 56vw;
    width: 10vw;
    animation: runner 10s linear infinite;
  }
  p{
    color: white;
    font-size: 2vw;
    position: absolute;
    top: 25px;
    font-family: "PT Mono";
    text-transform: uppercase;
    left: 3125px;
  }
  .disc {
    color: #00E3FF;
    font-size: 20px;
    position: absolute;
    top: 21px;
    font-family: "PT Mono";
    left: 31px;
    z-index: 2;
  }
  .text {
    color: white;
    font-size: 30px;
    position: absolute;
    z-index: 2;
    top: 130px;
    font-family: "PT Mono";
    text-transform: uppercase;
    left: 58px;
  }
}
@media (min-width: 2880px)
