@import "reset.css";
@import "https://fonts.googleapis.com/css?family=Open+Sans&display=swap";
@font-face {
  font-family: "7TH"
  font-weight: bold;
  scr: url(../fonts/7TH.TTf) format('truetype');
}

body {
  overflow: hidden;
  background-color: #000000;
}

main {
  background-color: black;
  width: 100vw;
  height: 100vh;
  cursor: url("../img/cursor6.png"), auto;
}
.bar_14 {
  position: absolute;
  z-index: 1;
  margin-top: -16vh;
  margin-left: 48vw;
}
}
.field_3 {
  position: absolute;
  z-index: 1;
  margin-top: -100vh;
  margin-left: 80vw;
}
.icon_12 {
  position: absolute;
  z-index: 1;
  margin-top: -9vh;
  margin-left: 3vw;
}
.pull_1 {
  position: absolute;
  z-index: 1;
  margin-top: -96vh;
  margin-left: 66vw;
}
.pull_2 {
  position: absolute;
  z-index: 1;
  margin-top: -100vh;
  margin-left: 60vw;
}
.pull_3 {
  position: absolute;
  z-index: 1;
  margin-top: -96vh;
  margin-left: 61vw;
}
.pull_4 {
  position: absolute;
  z-index: 1;
  margin-top: -80vh;
  margin-left: 62vw;
}
.tool_1 {
  position: absolute;
  z-index: 1;
}
.tool_2 {
  position: absolute;
  z-index: 1;
}
.tool_3 {
  position: absolute;
  z-index: 1;
}
.tool_4 {
  position: absolute;
  z-index: 1;
}
.rect_1 {
  position: absolute;
  z-index: 1;
  margin-top: -62vh;
  margin-left: 95vw;
}
.rect_2 {
  position: absolute;
  z-index: 1;
  margin-top: -45vh;
  margin-left: 90vw;
}
.rect_3 {
  position: absolute;
  z-index: 1;
  margin-top: -37vh;
  margin-left: 85vw;
}
.blocks_11 {
  position: absolute;
  z-index: 1;
  margin-top: -58vh;
  margin-left: 0vw;
}
.circle_13 {
  position: absolute;
  z-index: 1;
  margin-top: -49vh;
  margin-left: 0vw;
  width: 66vw;
}
.field_78 {
  position: absolute;
  z-index: 1;
  margin-top: -100vh;
  margin-left: -5vw;
  width: 19vw;
}
.run_18 {
  position: absolute;
  z-index: 1;
  margin-top: -32vh;
  margin-left: -2vw;
  width: 3vw;
}
.run_181 {
  position: absolute;
  z-index: 1;
  margin-top: -99vh;
  margin-left: 19vw;
  width: 3vw;
}
.run_182 {
  position: absolute;
  z-index: 1;
  margin-top: -73vh;
  margin-left: 42vw;
  width: 3vw;
}
.run_183 {
  position: absolute;
  z-index: 1;
  margin-top: -32vh;
  margin-left: 66vw;
  width: 3vw;
}
.run_184 {
  position: absolute;
  z-index: 1;
  margin-top: -53vh;
  margin-left: 15vw;
  width: 3vw;
}
.run_185 {
  position: absolute;
  z-index: 1;
  margin-top: -68vh;
  margin-left: 1vw;
  width: 3vw;
}
.run_186 {
  position: absolute;
  z-index: 1;
  margin-top: -25vh;
  margin-left: 34vw;
  width: 3vw;
}
.run_187 {
  position: absolute;
  z-index: 1;
  width: 3vw;
  margin-top: -95vh;
  margin-left: 44vw;
}
.run_188 {
  position: absolute;
  z-index: 1;
  margin-top: -81vh;
  margin-left: 18vw;
  width: 3vw;
}
.run_189 {
  position: absolute;
  z-index: 1;
  margin-top: -57vh;
  margin-left: 56vw;
  width: 3vw;
}
